In [5]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 


from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV, cross_val_score, GroupKFold
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import RFECV, VarianceThreshold, SelectFromModel
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, LabelEncoder, OneHotEncoder, PolynomialFeatures
from sklearn.cluster import FeatureAgglomeration

from sklearn.linear_model import LogisticRegression

### Feature Selection

In [4]:
df = pd.read_csv("..\Data\csgo_round_snapshots_cleaned.csv")
df.head()

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade,round_winner,t_weapon_count,ct_weapon_count,t_grenade_count,ct_grenade_count,round_winner_encoded
0,175.00,0.0,0.0,de_dust2,False,500.0,500.0,0.0,0.0,4000.0,...,0.0,0.0,0.0,0.0,CT,5.0,5.0,4510.0,4510.0,1
1,156.03,0.0,0.0,de_dust2,False,500.0,500.0,400.0,300.0,600.0,...,0.0,0.0,0.0,0.0,CT,5.0,5.0,1462.0,1511.0,1
2,96.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,0.0,CT,4.0,4.0,1110.0,1444.0,1
3,76.03,0.0,0.0,de_dust2,False,391.0,400.0,294.0,200.0,750.0,...,0.0,0.0,0.0,0.0,CT,4.0,4.0,1108.0,1444.0,1
4,174.97,1.0,0.0,de_dust2,False,500.0,500.0,192.0,0.0,18350.0,...,0.0,0.0,0.0,0.0,CT,5.0,5.0,11260.0,19054.0,1

#### Making all columns numeric